.homepage {
    display: flex;
}

.homepage__nav {
    width: 220px;
    padding: 10px;
    border-right: 0.6px solid rgba(128, 128, 128, 0.310);
}

.homepage__timeline {
    flex: 1;
    padding: 16px;
}