.timeline{
    display: flex;
    flex-direction: row;
}

.timeline__left {
    flex: 0.7;
}

.timeline__right {
    flex: 0.3;
}

.post__divider {
    border: 0;
    height: 0.3px;
    background-color: #3a3a3c;
    margin: 0 200px 0px 175px;
  }